div.st-emotion-cache-zt5igj.e1nzilvr4{
  color: #618264;
  border: 2px;
}

button.st-br.st-bs.st-b6.st-b5.st-ar.st-as.st-bt.st-bu.st-bv.st-bw.st-bx.st-by.st-bz.st-c0.st-c1.st-c2.st-c3.st-c4.st-c5.st-c6.st-c7.st-cq.st-c9.st-ca.st-b1.st-cb.st-cc.st-cd.st-ce.st-cf.st-cg.st-ch.st-ci.st-ae.st-cj.st-ag.st-ah.st-ai.st-aj.st-ck.st-cl.st-cm.st-cn.st-co.st-cp{
    color: #2b3467;
    height: 50px;
    white-space: pre-wrap;
		background-color: #eef2ff;
		border-radius: 4px 4px 0px 0px;
		gap: 0px;
		padding-top: 10px;
	        padding-left: 20px;
	        padding-right: 20px;
		padding-bottom: 10px;
}

div.st-cy.st-be.st-cv{
  color: #fcffe7;
}



