div.st-emotion-cache-zt5igj.e1nzilvr4{
  color: #2b3467;
  border: 2px;
}

div.st-bf.st-b3.st-bg.st-bh.st-bi.st-bj.st-bk.st-bl.st-bm.st-bn.st-bo.st-bp.st-bq{
    color: #2b3467;
    height: 50px;
    white-space: pre-wrap;
		background-color: #F0F2F6;
		border-radius: 4px 4px 0px 0px;
		gap: 2px;
		padding-top: 10px;
	        padding-left: 10px;
	        padding-right: 10px;
		padding-bottom: 10px;
}

div.st-cy.st-be.st-cv{
  color: #fcffe7;
}



